# Writing A DataFrame  To CSV
In this lesson we will discuss how you can save your data to csv.  This of course isn't the only way to write out or save data, but this is a common way, so we want to review it.

## Notebook Outline:
* [Using the .to_csv() method](#usingtocsv)

<a name=usingtocsv></a>
# Using the .to_csv() method
Writing a DataFrame to csv is simple, we just need to use the .to_csv() method. The documentation is here: <https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html>

In order to have an example, I am going to load the weather data that we have been using in this course. I am going to convert the celsius temperature to fahrenheit and then I am going to write out to a new file.

In [1]:
import pandas as pd

#### Load the data:

In [2]:
# First we load the data, specifying the column names, like we saw in a previous
# lecture
filepath = ('/Users/yuzhang/Dropbox/Academia/Lecturer/I&C_SCI_X426.62/724080-13739-2001')
headers = ['Year', 'Month', 'Day', 'Hour', 'Air Temp', 'Dew Point Temp', 'Sea Level Pressure',
           'Wind Direction', 'Wind Speed Rate',
           'Sky Condition Total Coverage Code',
           'Liquid Precipitation Depth Dimension - 1Hr Duration',
           'Liquid Precipitation Depth Dimension - Six Hour Duration']
weatherData = pd.read_csv(filepath, delim_whitespace=True,
                          names=headers)

In [3]:
weatherData.head()

,Year,Month,Day,Hour,Air Temp,Dew Point Temp,Sea Level Pressure,Wind Direction,Wind Speed Rate,Sky Condition Total Coverage Code,Liquid Precipitation Depth Dimension - 1Hr Duration,Liquid Precipitation Depth Dimension - Six Hour Duration
0,2001,1,1,0,-6,-94,10146,280,57,2,0,-9999
1,2001,1,1,1,-11,-94,10153,280,57,4,0,-9999
2,2001,1,1,2,-17,-106,10161,290,62,2,0,-9999
3,2001,1,1,3,-28,-100,10169,260,57,0,0,-9999
4,2001,1,1,4,-28,-100,10177,260,52,0,0,-9999

#### Convert the 'Air Temp' from Celsius to Fahrenheit

In [4]:
# Now we will convert the Air Temp column to fahrenheit. First we need to divide
# the column by 10 (that is because the data is scaled by 10, i.e. -6 is really -0.6 celsius)
# this is covered in the data documentation discussed in a previous lecture.
# After dividing by 10, we convert from celsius to fahrenheit using the formula
# F = C * 1.8 + 32
weatherData.loc[:, 'Air Temp'] = (weatherData['Air Temp']/10) * 1.8 + 32

In [5]:
weatherData.head(2)

,Year,Month,Day,Hour,Air Temp,Dew Point Temp,Sea Level Pressure,Wind Direction,Wind Speed Rate,Sky Condition Total Coverage Code,Liquid Precipitation Depth Dimension - 1Hr Duration,Liquid Precipitation Depth Dimension - Six Hour Duration
0,2001,1,1,0,30.92,-94,10146,280,57,2,0,-9999
1,2001,1,1,1,30.02,-94,10153,280,57,4,0,-9999

#### Write the data to csv using .to_csv() - and use the index=False argument!

In [6]:
savepath = ('/Users/yuzhang/Dropbox/Academia/Lecturer/I&C_SCI_X426.62/724080-13739-2001_F')
weatherData.to_csv(savepath, index=False)

![](Success!.png)